In [1]:
a=100
b=200
a+b

300

In [2]:
print("hello world")

hello world

In [3]:
a=[1,2,3]
print(a)

[1, 2, 3]

# kitamura

aaa
-------

In [4]:
import numpy as np
import pandas as pd

s = pd.Series([1,3,4,np.nan,6,8],index=['a', 'b', 'c', 'd', 'e', 'f'])
s.name

In [5]:
d2 = pd.Series({'a':1})
d2

a    1
dtype: int64

In [6]:
s[s >= s.median()]

c    4.0
e    6.0
f    8.0
dtype: float64

In [7]:
s.to_numpy()

array([ 1.,  3.,  4., nan,  6.,  8.])

In [8]:
s[:-1]

a    1.0
b    3.0
c    4.0
d    NaN
e    6.0
dtype: float64

In [9]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [10]:
data=[(1, 2., 'Hello'), (2, 3., "World")]
data

pd.DataFrame(data)

   0    1      2
0  1  2.0  Hello
1  2  3.0  World

In [11]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [12]:
df['flag']=df['one']>2
df

   one  two   flag
a  1.0  1.0  False
b  2.0  2.0  False
c  3.0  3.0   True
d  NaN  4.0  False

In [13]:
df['three'] = df['one']*df['two']
df

   one  two   flag  three
a  1.0  1.0  False    1.0
b  2.0  2.0  False    4.0
c  3.0  3.0   True    9.0
d  NaN  4.0  False    NaN

In [14]:
df['foo'] = 'bar'
df

   one  two   flag  three  foo
a  1.0  1.0  False    1.0  bar
b  2.0  2.0  False    4.0  bar
c  3.0  3.0   True    9.0  bar
d  NaN  4.0  False    NaN  bar

In [15]:
!pwd

/Users/kitamura/notebook

In [16]:
df

   one  two   flag  three  foo
a  1.0  1.0  False    1.0  bar
b  2.0  2.0  False    4.0  bar
c  3.0  3.0   True    9.0  bar
d  NaN  4.0  False    NaN  bar

In [17]:
c=pd.read_csv('example.csv')
c

     #        date   TorF     prob1     prob2
0    1  2019/05/02   True  0.630824  0.648629
1    2  2019/05/03  False  0.359165  0.382063
2    3  2019/05/04  False  0.938764  0.701846
3    4  2019/05/05  False  0.545913  0.980343
4    5  2019/05/06   True  0.566558  0.478466
5    6  2019/05/07   True  0.280747  0.227819
6    7  2019/05/08  False  0.177551  0.494807
7    8  2019/05/09   True  0.775924  0.313042
8    9  2019/05/10  False  0.131646  0.579224
9   10  2019/05/11   True  0.120061  0.319199
10  11  2019/05/12  False  0.534008  0.264470
11  12  2019/05/13   True  0.932336  0.041034

In [18]:
c.head()

   #        date   TorF     prob1     prob2
0  1  2019/05/02   True  0.630824  0.648629
1  2  2019/05/03  False  0.359165  0.382063
2  3  2019/05/04  False  0.938764  0.701846
3  4  2019/05/05  False  0.545913  0.980343
4  5  2019/05/06   True  0.566558  0.478466

In [21]:
c['prob2']

0     0.648629
1     0.382063
2     0.701846
3     0.980343
4     0.478466
5     0.227819
6     0.494807
7     0.313042
8     0.579224
9     0.319199
10    0.264470
11    0.041034
Name: prob2, dtype: float64

In [26]:
c.assign(foobar=c['prob1']/c['prob2'])

     #        date   TorF     prob1     prob2     foobar
0    1  2019/05/02   True  0.630824  0.648629   0.972550
1    2  2019/05/03  False  0.359165  0.382063   0.940068
2    3  2019/05/04  False  0.938764  0.701846   1.337564
3    4  2019/05/05  False  0.545913  0.980343   0.556859
4    5  2019/05/06   True  0.566558  0.478466   1.184115
5    6  2019/05/07   True  0.280747  0.227819   1.232326
6    7  2019/05/08  False  0.177551  0.494807   0.358829
7    8  2019/05/09   True  0.775924  0.313042   2.478660
8    9  2019/05/10  False  0.131646  0.579224   0.227280
9   10  2019/05/11   True  0.120061  0.319199   0.376132
10  11  2019/05/12  False  0.534008  0.264470   2.019164
11  12  2019/05/13   True  0.932336  0.041034  22.720969

In [29]:
c[['prob1','prob2']].plot(kind='scatter', x='SepalRatio', y='PetalRatio')

KeyError: 'SepalRatio'